
header {
    width: 100%;
    background-color: #023047; /* Cor de fundo do header */
    padding-bottom: 1px;
    text-align: center; /* Ajusta o conteúdo do header */
    color: #fff;

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 120px;
}

.nav-container-left {
    display: inline-flex;
    width: auto;
}
.nav-container-left > a {
    display: inline-block;
}

.Logo {
    position: relative;
    margin-top: 10px;
    left: 5%;
    width: 110px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    color: #151316;
    font-size: 18px;
    position: relative;
    left: -20px;
}

.nav-links li {
    margin: 0 10px;
    margin-right: 1px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 1.5px #151316;
}

.Home {
    width: 65px;
    margin-top: 5px;
}

.troca {
    background-color: #023047;
    padding-right: 12px;
    border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    left: -6.5%;
    width: auto;
}

.search-txt {
    padding: 2px;
    border: none;
    outline: none;
    width: 230px;
    border-radius: 6px;
    box-shadow: 2px 3px 2px;
}

.lupa {
    width: 50px;
    padding-top: 18px;
    margin-right: 5px;
    cursor: pointer;
}

.nav-cont-right {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    right: 1%;
} 

.nav-contato {
    list-style: none;
    margin: 0;
    font-size: 18px;
}
.nav-button {
    background: rgba(255, 183, 3, 1);
    color: #ffffff;
    width: 85px;
    height: 37px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 14px;
}


